/* Common
/*
/*****************************************************************************/

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: #fafafa;
  font: 16px Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 300;
  color: #82817f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", sans-serif;
  font-size: 100%;
  font-weight: 300;
}

h1 {
  font-size: 2.25em;
  color: #2b00ff;
}
h2 {
  font-size: 2.25em;
}

h3,
h4,
h5,
h6 {
  font-family: Roboto, sans-serif;
}

h3 {
  font-size: 1.5em;
}

p {
  margin: 1em 0;
  max-width: 31em;
  padding-right: 1em;
}

a {
  color: #2b00ff;
  text-decoration: none;
}
a:hover {
  color: #111;
}

.title {
  margin-left: -0.14em;
}

.subtitle {
  margin-top: -0.3em;
  margin-bottom: 2em;
}

/* Site
/*
/*****************************************************************************/

.site {
  min-height: 100%;
  margin-left: 1em;
  padding-left: 1.5em;
  border-left: 1px solid #e1e1e1;
}

.main-header {
  padding-top: 3em;
}

.main-footer {
  padding-bottom: 2em;
}

@media all and (min-width: 40em) {
  h1 {
    font-size: 3em;
  }

  .site {
    width: 40em;
    margin: 0 auto;
  }

  .main-header {
    padding-top: 6em;
  }
}
