<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:300|Roboto:400,300,300italic,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div class="site">
      <header class="main-header">
        <h1 class="title">{{ site.name }}</h1>
        <h3 class="subtitle">Product Designer</h3>
      </header>

      {{ content }}

      <footer class="main-footer">
        <div class="contact">
          <p>
            Email me at <a href="mailto:t@tisho.co">t@tisho.co</a><br />
            <a target="_blank" href="https://twitter.com/tisho">Follow me on Twitter</a><br />
            <a target="_blank" href="https://github.com/tisho">See code I&rsquo;ve written on GitHub</a><br />
          </p>
        </div>
      </footer>
    </div>
  </body>
</html>
